.container {
  @apply flex pt-container-top pb-8 
    sm:pt-container-top-sm;
}
.content-wrap {
  @apply flex-initial w-full pl-0
    sm:pl-20
    xl:pl-60;
}
.content {
  @apply px-4 py-0
    sm:px-4;
}
