/* card */
.video a {
  @apply flex flex-col;
}
.thumbnail {
  @apply flex justify-center items-start w-full;
}
.thumbnailBox {
  @apply w-full rounded-2xl  overflow-hidden aspect-video;
}
.thumbnail img {
  @apply w-full h-full object-cover;
}
.info {
  @apply flex items-start pt-2;
}
.channelImg {
  @apply flex-none w-[2rem] h-[2rem] mr-2 
  text-lg font-bold text-white text-center leading-[2rem]
  rounded-full overflow-hidden;
}
.title {
  @apply mb-1 text-base font-bold leading-5 line-clamp-2;
}
.channelInfo .channelImg {
  @apply hidden;
}
.channelTitle,
.publishedAt,
.description {
  @apply text-sm font-medium leading-5;
  color: var(--tx-color-500);
}
.description {
  @apply hidden;
}

/* list */
.list a {
  @apply flex-col
  sm:flex-row;
}
.list .thumbnail {
  @apply flex-none w-full max-w-full min-w-full 
  sm:w-2/5 sm:max-w-[360px] sm:min-w-[180px];
}
.list .info {
  @apply flex-row pt-2
  sm:flex-col sm:py-0 sm:pt-0 sm:pl-4
  md:py-2 md:pl-6;
}
.list .title {
  @apply text-lg line-clamp-1 
  sm:pt-0
  lg:line-clamp-2;
}
.list .info > .channelImg {
  @apply block
  sm:hidden;
}
.list .channelInfo {
  @apply flex items-center;
}
.list .channelInfo .channelImg {
  @apply hidden
  sm:block;
}
.list .publishedAt,
.list .description {
  @apply text-sm;
}
.list .publishedAt {
  @apply pt-0
  sm:pt-3;
}
.list .description {
  @apply max-sm:hidden 
  sm:pt-0 sm:line-clamp-1 
  md:pt-1 
  lg:line-clamp-2;
}
