.header {
  @apply flex flex-row items-center justify-between px-2 relative 
  h-header-height
  sm:h-header-height-sm
  sm:px-4;
  background-color: var(--bg-color-50);
}
.formWrap {
  @apply flex flex-initial basis-[62%] justify-end
  sm:justify-center
  md:basis-6/12
  lg:basis-5/12;
}
.formBox {
  @apply flex items-center w-full h-full px-4 absolute top-0 left-0 -z-10
  sm:flex sm:p-0 sm:relative sm:z-10;
  background-color: var(--bg-color-50);
}
.formBox.open {
  @apply z-10;
}
.form {
  @apply flex w-full h-10 border border-solid rounded-full;
  border-color: var(--bg-color-200);
}
.form.focus {
  border-color: var(--form-fous-border-color);
  box-shadow: var(--form-fous-shadow);
}
.form input {
  @apply flex-initial
  w-full h-10
  px-6
  bg-transparent
  border-transparent;
}

.btn {
  @apply flex-none w-16;
}
.btn svg {
  @apply inline-block;
  width: 28px;
  height: 28px;
  fill: var(--bg-color-700);
}
.close,
.moShowFormBtn {
  @apply block w-10 h-10
  sm:hidden;
}
.moShowFormBtn {
  @apply mx-1;
}
.colorTheme {
  @apply flex-none w-10 h-10 text-[0];
}
.colorTheme span {
  @apply block text-center;
}
.colorTheme svg {
  @apply inline-block -ml-1 w-[68%] h-[68%];
  fill: var(--bg-color-700);
}
