@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #ffffff;
  --bg-color-100: rgb(245, 245, 245);
  --bg-color-200: rgb(229, 229, 229);
  --bg-reverse-color-700: rgb(202, 202, 202);
  /* config */
  --header-height-sm: 82px;
  --header-height: 66px;
}
html.dark {
  --bg-color: rgb(23, 23, 23);
  --bg-color-100: rgb(40, 40, 40);
  --bg-color-200: rgb(73, 73, 73);
  --bg-reverse-color-700: rgb(76, 76, 76);
}
@layer base {
  body::-webkit-scrollbar {
    @apply w-4;
  }
  body::-webkit-scrollbar-thumb {
    @apply border-4 bg-[var(--bg-reverse-color-700)] bg-clip-padding border-transparent border-solid rounded-xl;
  }
  body::-webkit-scrollbar-track {
    @apply border border-solid border-[var(--bg-color-200)] bg-[var(--bg-color-100)];
  }
  input[type="text"] {
    @apply border border-solid border-transparent rounded-full;
  }
  input[type="text"]:focus {
    @apply outline-none;
  }
  body {
    @apply min-w-80 bg-[var(--bg-color)] text-neutral-900;
  }
}
