@tailwind base;
/* @tailwind components; */
@tailwind utilities;

:root {
  --left-side: 58px;

  --pd-basic: 1rem;
  --pd-basic-x: 1rem;
  --pd-basic-y: 1rem;

  --nav-w-lg: 15rem;
  --nav-w-sm: 3.5rem;
  /*  */

  --height-h: 4.625rem;
}

input[type='text'] {
  @apply px-4;
  @apply border border-solid border-neutral-200 rounded-full;
}
input[type='text']:focus {
  outline: none;
}

body {
  @apply min-w-80;
}

/* layout */
.header {
  @apply relative top-0 left-0 z-50;
  height: var(--height-h);
}
.container {
  @apply flex;
  @apply relative;
}

.container .nav {
  @apply flex flex-none flex-col;
  @apply w-60 h-full;
  @apply sm:w-20 xl:w-60;

  @apply fixed top-0 -left-60;
  @apply sm:left-0;
}

.container .content {
  @apply flex-initial;
  @apply pl-0;
  @apply sm:pl-20 xl:pl-60;
}

.videos {
  @apply grid grid-cols-1;
  @apply sm:grid-cols-2 gap-2;
  @apply lg:grid-cols-3 gap-3;
  @apply 2xl:grid-cols-4 gap-4;
  @apply p-4;
}
